@import '/src/common/utils/variables.scss';

.nav {
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;

  padding-bottom: 10px;
  background-image: linear-gradient(45deg, $orange, $blue, $blue, $blue, $blue );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: smaller;
  padding-top: 0;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'title nav buttons';
  justify-items: center;
  align-items: center;
  column-gap: 2em;

}

.nav-title {
  grid-area: title;
}

.nav-container {
  grid-area: nav;
  display: flex;
  justify-content: center;
  gap: 8vw;
}

.sign-container {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.header-button.header-button {
  font-size: 10px;

}

@media(max-width:600px) {
  .nav {
    row-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'title buttons'
                          'nav nav';

    background-image: linear-gradient(45deg, $orange, $orange, $blue, $blue, $blue );
  }

  .nav-container {
    width: 100%;
    gap: auto;
  }

  .sign-container {
    flex-direction: row;
  }

  .header-button.header-button {
    font-size: 9px;

  }
}

@media(max-width:390px) {
  .nav {
    column-gap: 0.5em;
  }
}