.remove-button {
 width: 25px;
 height: 25px;

 padding: 0;

 background-image: url(../../../../assets/trash.png);
 background-size: cover;
 border: none;

 &:active {
  outline: none;
 }

 &:focus {
  outline: none;
 }
}