.product-summa-wrapper {
    display: flex;
    gap: 40px;
}

.card-cart-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.cart-products-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cart-card {
    width: 100%;
}

.cart-card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.total-price {
    font-size: 25px;
    width: 100%;
    margin: 0 auto;
    color: rgb(11, 26, 87);
    display: flex;
    justify-content: end;
    padding: 20px;
}

.message-cart-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 30px;
    color: rgb(11, 26, 87);
    padding: 30px 10px;
    align-items: center;
    margin-top: 10%;
}

.catalog-button {
    width: 200px;
}