@import '/src/common/utils/variables.scss';

.card-cart-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.cart-products-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cart-card {
    width: 100%;
}


.total-price.total-price {
    font-size: 25px;
    width: 100%;
    margin: 0 auto;
    color: $blue;
    display: flex;
    justify-content: end;
    padding: 20px;
}

.total-price-container {
    margin: 0 0 0 20px;
}

@media screen and (width < 510px) {
    .card-cart-wrapper {
        justify-content: center;
        gap: 0;
    }
}