* {
  box-sizing: border-box;
}

.pop-up {
  width: 400px;
  height: max-content;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: inherit;
}

.login-title {
  font-size: 24px;
}

.input {
  width: 100%;
  height: 40px;
  padding: 5px 20px;

  font-size: 24px;

  &:focus {
    border-color: rgb(39, 18, 135);
  }
}

.password-wrapper {
  position: relative;
}

.password-controller {
  position: absolute;
	top: calc(50% - 10px);
	right: 10px;
	display: inline-block;
	width: 20px;
	height: 20px;
  background-image: url(../../../../assets/show-password.png);
  background-size: cover;

  &.show {
    background-image: url(../../../../assets/hide-password.png);
  }
}

.error {
  margin-top: -5px;
  align-self: flex-start;

  font-size: 10px;
  color: red;
}

