.profile-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.profile-section {
    display: flex;
    gap: 10px;
    margin: 10px;
    align-items: center;
    padding: 0 10%;
}

.profile-icon {
    width: 20px;
    height: 20px;
}

.user-title {
    color: rgb(92, 47, 92);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.profile-section_address {
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.edit-button {
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    gap: 10px;
    margin: 0 auto;
}

.edit-form__label {
    font-size: 18px;
}

.edit-form__input {
    margin-left: 10px;
    height: 30px;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    border: 2px solid black;
    width: 350px;
}

.edit-form-wrapper {
    height: 70vh;
    display: flex;
    align-items: center;
}

.buttons-update-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.modal-overlay {
    z-index: 9999;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-box {
    background: rgb(236, 234, 247);
    position: fixed;
    height: max-content;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 50vh;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    gap: 15px;
    align-items: center;
  }

  .add-address-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .address-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.error-validation {
    width: 350px;
    align-self: center;
}

.radio-buttons-wrapper {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.address-wrapper {
    display: flex;
    flex-direction: column;
}

.address-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.address-list-wrapper__address {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.address {
    display: flex;
    gap: 10px;
}

.address-title-wrapper {
    width: 100%;
    text-align: start;
    display: flex;
    gap: 10px;
}

.edit-address-buttons-wrapper {
    display: flex;
    gap: 10px;
}

.edit-address-button {
    padding: 5px;
    background-color: rgb(41, 49, 148);
    font-size: 12px;
    color: white;
    cursor: pointer;
    border-radius: 5%;

    &:hover {
        background-color: rgb(49, 52, 94);
        transition: 0.7s;
    }
}

.edit-address-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
}




