
.cart-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}


@media  screen and (width < 510px) {
  .cart-card-content {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}