@import '/src/common/utils/variables.scss';

.promo {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  // &__input {
  //   height: 29px;
  //   box-sizing: border-box;
  //   padding: 0 5px;
  //   border: 1px solid $grey;
  //   border-radius: 5px;
  //   color: $darkGrey;
  // }

  &__input_disabled.promo__input_disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  &__button {
    height: 29px;
    font-size: 10px;
  }

  &__price {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}