@import '../../../../common/utils/variables.scss';

.button {
  width: 270px;
  height: 50px;

  border-radius: 8px;
  background-color: $blue;
  color: $white;

  cursor: pointer;
  transition: all 0.4s;

  &:hover {
   transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}