$blue: #091D9E;
$lightBlue: #646cff;
$violet: #750DC5;
$light-blue: #BCC5FF;
$orange: #FF5733;
$yellow: #EBBA1A;
$grey: #C1C1C1;
$darkGrey: #454545;
$white: #F6F6F6;

$gradient: linear-gradient( 50deg, #260DC1, #59006F);

$radius: 8px;

